<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>Weather-Application</title>
    </head>
    <body>
        {{>header}}
        {{desc}}
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>