<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        {{desc}}
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message1"></p>
        <p id="message2"></p>
    </body>
    <footer>
        {{>footer}}
        <script src="/js/script.js"></script>
    </footer>
</html>