{{!-- {{Menu Bar}} --}}
<div class="topnav">
    <a class="active" href="/">Weather</a>
    <a href="/about">About</a>
</div>

{{!-- {{Title}} --}}
<div class="head">
    <h1>Weather Forecast</h1>
    <h3>{{desc}}</h3>
</div>